.back_img_box{
    position: relative;
}
.back_img{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.login_box{
    width: 500px;
    height: 816px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.10));
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--background, #FAFAFA);
    border-radius: 16px;
}
.login_logo{
    width: 500px;
    height: 264px;
    flex-shrink: 0;
    text-align: center;
    box-sizing: border-box;
    background: var(--semi-darker, #4F2AB8);
    border-radius: 16px 16px 0px 0px;
}
.login_logo>p{
    margin: 0;
    color: var(--success-500, #B2EF0E);
    font-family: Shrikhand;
    /* font-size: 203.923px; */
    font-style: normal;
    font-weight: 400;
    line-height: 147.279px; /* 72.223% */
    /* width: 997.086px; */
    /* transform: rotate(-7.238deg); */
}

.login_form{
    padding-top: 40px;
    width: 500px;
    height: 552px;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--background, #FAFAFA);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}
.login_form>p{
    margin: 0px 0px 40px 0px;
    color: var(--primary-500, #8D53FF);
    text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    /* Header */
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.login_form>div>div{
    position: relative;
    vertical-align: middle;
    display: flex;
    margin: 0;
    padding: 0;
}
.login_user>input, .login_user>div>input{
    margin: 24px;
    padding-left: 20px;
    position: relative;
    vertical-align: middle;
    display: flex;
    width: 452px;
    height: 64px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 0px;
}
.login_user>input{
    border-radius: 16px;
    background: var(--white, #FFF);
    
    /* 02dp */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.button_box>input{
    text-align: center; /* 버튼 텍스트를 중앙 정렬 */
    align-items: center; /* 버튼 안에 있는 내용을 수직 중앙 정렬 */
    display: flex; /* 버튼 안에 있는 내용을 수평 중앙 정렬 */
    justify-content: center; /* 버튼 안에 있는 내용을 수평 중앙 정렬 */
}   
.login_btn {
    border-radius: 16px;
    background: var(--primary-500, #8D53FF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--white, #FFF);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.goto_register_btn {
    border-radius: 16px;
    background: var(--gray-50, #F0F0F0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--black, #2E283B);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
