{% load static %}
  {% include 'common/Head.html' %}
  <link rel="stylesheet" href="{% static 'css/gnb.min.css' %}">
  <title>CHATTING</title>
</head>

<body class="page_view" data-user-id="{{ user_id }}">

  {% include 'common/GNB.html' %}

  <div id="main_chat" class="main_view">
    {% include "include/empty.html" %}
    <div id="chatting_room_detail" class="chat displayNone">
      {% include "contents/chatting.html" %}
    </div>
  </div>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/gnb.js' %}" defer></script>
  <script src="{% static 'js/chatting_main.js' %}" defer></script>
  <script src="{% static 'js/websocket.js' %}"></script>
  <script src="{% static 'js/select.js' %}" defer></script>
  <audio id="audioContainer" hidden><source id="audioSource" src="{% static 'sound/notification_ring.mp3' %}"></audio>
</body>

</html>