<div class="chat--user_info">

    <div class="friends--profile profile {{conv_status}}" data-image="{{conv_pic}}"></div>
    <div class="chat--user_info__detail">
        <p class="chat--user_info__name">{{conv_user}}</p>
        <p class="chat--user_info__recent">{{last_reply_time}} 전 응답</p>
    </div>
</div>

<div class="chat--body">
    {% autoescape off %}
    {{ message_boxs }}
    {% endautoescape %}
</div>


<form method="post" id="send_message" class="chat--footer">
    {% autoescape off %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="room_number" value="{{ room_number }}">
    {% endautoescape %}

    <div class="chat--footer__box" data-replicatedValue="">
        <img src="/static/icon/Add_photo.svg" alt="Add_photo" class="btn chat--Add_photo">
        <img src="/static/icon/Attach_file.svg" alt="Attach_file" class="btn chat--Attach_file">
        <textarea name="send_text" class="chat--footer__text" placeholder="메세지를 입력하세요." rows="1"></textarea>
    </div>

    <input type="submit" form="send_message" class="chat--footer__send" value="">
</form>
