{% load static %}
<div class="side_bar--header">
  <span class="side_bar--header__title">채팅</span>
  <button class="side_bar--header__btn"><img src="{% static 'icon/Dots.svg'%}" alt="GNB Dots icon"></button>
  <ul class="side_bar--header__dropdown">
    <li class="btn btn--Add_comment" id="alert--Add_comment"><img src="{% static 'icon/Add_comment.svg'%}" alt="Add_comment icon">신규 채팅방 만들기</li>
    <li class="btn btn--Delete_sellect TBD"><img src="{% static 'icon/Delete_all.svg'%}" alt="People_outline icon">선택 삭제</li>
  </ul>
</div>

<ul class="side_bar--body room">
  <!--template.js CHAT_LIST-->
</ul>