{% load static %}
<div class="side_bar--header">
  <span class="side_bar--header__title">채팅</span>
  <button class="side_bar--header--dots"><img src="{% static 'icon/Dots.svg'%}" alt="GNB Dots icon"></button>
</div>

<div class="side_bar--body chatting_room">

  <ul id="chatting_list" class="chatting_room--cover">
  </ul>
</div>

<div class="side_bar--footer">
  <button class="btn btn--Person_add"><img src="{% static 'icon/Person_add.svg'%}" alt="Person_add icon"></button>
  <button class="btn btn--Add_comment"><img src="{% static 'icon/Add_comment.svg'%}" alt="Add_comment icon"></button>
  <button class="btn btn--People_outline"><img src="{% static 'icon/People_outline.svg'%}" alt="People_outline icon"></button>
</div>