{% load static %}
<div class="side_bar--header">
  <span class="side_bar--header__title">설정</span>
  <select class="activeSet">
    <option value="online">온라인</option>
    <option value="away">자리 비움</option>
    <option value="offline">오프라인</option>
  </select>
</div>
<div class="side_bar--body setting">

  <div class="setting--user">
    <!--include/user_detail.html 파일 -->
  </div>

  <div class="setting--options">

    <div class="option email_notice">
      <div class="option--icon" id="change_email_notice">
        <img class="option--icon__img" src="{% static 'icon/Email.svg'%}" alt="이메일 알림 수신 변경 아이콘">
      </div>
      <div class="option--text">이메일 알림 수신 변경 </div>
    </div>

    <div class="option theme displayNone">
      <div class="option--icon" id="change_theme_box">
        <img class="option--icon__img" src="{% static 'icon/Edit-Theme.svg'%}" alt="테마 설정 아이콘">
      </div>
      <div class="option--text">테마 설정 </div>
    </div>

    <div class="option password">
      <div class="option--icon" id="change_password_box">
        <img class="option--icon__img" src="{% static 'icon/Lock.svg'%}" alt="비밀번호 변경 아이콘">
      </div>
      <div class="option--text"> 비밀번호 변경 </div>
    </div>

    <div class="option logout user_info_setting" id="alert--logout">
      <div class="option--icon" id="logout_box">
        <img class="option--icon__img" src="{% static 'icon/Power.svg'%}" alt="로그아웃 아이콘">
      </div>
      <div class="option--text"> 로그아웃 </div>
    </div>

    <div class="option withdraw" id="alert--withdrawal">
      <div class="option--icon" id="cancel_membership_box">
        <img src="{% static 'icon/Empty.svg'%}" alt="회원탈퇴 아이콘">
      </div>
      <div class="option--text"> 회원탈퇴 </div>
    </div>

  </div>


</div>

<script src="{% static '/js/alert.js' %}"></script>