{% load static %}
<div class="side_bar--header">
  <span class="side_bar--header__title">친구목록</span>
  <button class="side_bar--header__btn"><img src="{% static 'icon/Dots.svg'%}" alt="Add button icon"></button>
  <ul class="side_bar--header__dropdown">
    <li class="btn btn--Person_add" id="alert--add_Friend"><img src="{% static 'icon/Person_add.svg'%}" alt="Person_add icon">친구 추가</li>
    <li class="btn btn--People_outline" id="friend_selector"><img src="{% static 'icon/People_outline.svg'%}" alt="People_outline icon">그룹 채팅방 만들기</li>
  </ul>
</div>

<div class="side_bar--body friends">

  <ul id="online_friends" class="friends--group on">

    <!--template.js FRIENDS_LIST-->

  </ul>

  <ul id="offline_friends" class="friends--group off">

    <p class="friends--group__title"> 오프라인 </p>

  </ul>

</div>

<div class="group--selector">
  <div class="profile"><span>+ 0</span></div>
  <input type="text" class="text" placeholder="다른 사람 검색..." />
  <button class="btn btn--start">시작</button>
</div>