{% load static %}
<div class="side_bar--header">
  <span class="side_bar--header__title">친구목록</span>
  <button class="side_bar--header--add"><img src="{% static 'icon/Add.svg'%}" alt="Add button icon"></button>
</div>

<div class="side_bar--body friends">

  <div id="online_friends" class="friends--group on">

    <a class="friends--box">
      <div class="friends--profile profile active" data-image="profile_ted.png"></div>
      <div class="friends--detail">
        <div class="friends__name">이찬희 (온라인) <span>기획2팀 · 팀장 (원격)</span> </div>
        <div class="friends__status">모든 국민은 인간다운 생활을 할 권리를 가진다. 대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다.</div>
      </div>
    </a>

    <a class="friends--box">
      <div class="friends--profile profile away" data-image=""></div>
      <div class="friends--detail">
        <div class="friends__name">유창현 (자리비움) <span>기획2팀 · 팀장 (사무실)</span> </div>
        <div class="friends__status">국무총리·국무위원 또는 정부위원은 국회나 그 위원회에 출석하여 </div>
      </div>
    </a>

  </div>

  <div id="offline_friends" class="friends--group off">

    <p class="friends--group__title"> 오프라인 </p>

    <a class="friends--box">
      <div class="friends--profile profile" data-image="profile_basic_old.png"></div>
      <div class="friends--detail">
        <div class="friends__name">방민수 <span>기획2팀 · 팀장 (사무실)</span></div>
        <div class="friends__status">상태메세지 상태메세지 </div>
      </div>
    </a>

  </div>

</div>