{% load static %}
<div class="side_bar--header">
  <span class="side_bar--header__title">채팅</span>
  <button class="side_bar--header--dots"><img src="{% static 'icon/Dots.svg'%}" alt="GNB Dots icon"></button>
</div>

<ul class="side_bar--body room">

  <li class="room--box" id="room_num_{{ room_num }}">

    <div class="room--profile profile {{ user_status }}" data-image="{{ conv_picture }}profile_ted.png"></div>
    <div class="room--detail">
      <input type="hidden">
      <div class="room__name">{{ conv_user_name }} 이찬희 (온라인) <span>{{ conv_team }}기획2팀 · 팀장 (원격)</span> </div>
      <div class="room__status">{{ conv_final_message }} 국무총리·국무위원 또는 정부위원은국회나 그 위원회에국회나 그 위원회에국회나 그 위원회에</div>
    </div>
    
  </li>

</ul>

<div class="side_bar--footer">
  <button class="btn btn--Person_add"><img src="{% static 'icon/Person_add.svg'%}" alt="Person_add icon"></button>
  <button class="btn btn--Add_comment"><img src="{% static 'icon/Add_comment.svg'%}" alt="Add_comment icon"></button>
  <button class="btn btn--People_outline"><img src="{% static 'icon/People_outline.svg'%}" alt="People_outline icon"></button>
</div>