{% load static %}
<div id="gnb" class="">
        
    <button id="notices" class="btn btn--Notification">
        <img src="{% static 'icon/Notification.svg'%}" alt="GNB Notification icon">
    </button>
    <button id="friends" class="btn btn--Friends">
        <img src="{% static 'icon/People_outline.svg'%}" alt="GNB Friends icon">
    </button>
    <button id="chat" class="btn btn--Chat active">
        <img src="{% static 'icon/Sms.svg'%}" alt="GNB Sms icon">
    </button>
    <button id="user" class="btn btn--User">
        <img src="{% static 'icon/Dots.svg'%}" alt="GNB Dots icon">
    </button>

</div>

<div id="side_bar" class="side_bar">

    <div id='side_bar_notices' class="side_bar--tab">
        {% include 'sidebar/side_bar_notices.html' %}
    </div>
    <div id='side_bar_friends' class="side_bar--tab">
        {% include 'sidebar/side_bar_friends.html' %}
    </div>
    <div id='side_bar_chat' class="side_bar--tab active">
        {% include 'sidebar/side_bar_chat_list.html' %}
    </div>
    <div id='side_bar_user' class="side_bar--tab">
        {% include 'sidebar/side_bar_user_info.html' %}
    </div>
    
</div>

<script src="{% static '/js/gnb.js'%}" defer></script>