{% load static %}
<div class="notice--group {{ noti_type }}">
    <div class="notice--type">
      <img src={{ img_src }} alt="">
    </div>
    <div class="notice--box">
      <div class="notice--box__title"><p>{{ title }}</p></div>
      <div class="notice--box__content">{{ content }}</div>
      <div class="notice--box__time">{{ created_at }}</div>
    </div>
    {% autoescape off %}
    {{ button_type }}
    {% endautoescape %}
  </div>
{% comment %} <div class="notice--type system_notice danger/system/group/normal"> /  {% endcomment %}