{% load static %}
<div class="user--img"></div>

<div class="user--detail">

    <div class="user--cover">
        <div class="flexBox">
            <p class="user__name">{{ name }}</p>
            <button class="user--cover__edit"><img src="{% static 'icon/Edit.svg'%}" alt="Edit icon">수정</button>
        </div>
        <p class="user__team">{{ team }}</p>
        <p class="user__email" >{{ email }}</p>
    </div>

    <textarea class="user--status_message" type="text" maxlength="38" rows="2" disabled>{{ status_message }}</textarea>

</div>