@import "../css/reset.css";
:root{
    --background: #FAFAFA;
    --gray: #8E8E8E;
    --gray-50: #F0F0F0;
    --gray-80: #C7C7C7;
    --white: #FFF;
    --black: #2E283B;
    --primary-500: #8D53FF;
    --Semi-Darker: #4F2AB8;
    --Success-500: #B2EF0E;
    --Success-700: #75AC08;
    --Danger-500: #FF6155;
    --Danger-700: #B72935;
    --bs-02: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    --text: 16px;
    --gnbSize: 72px;
    --padding: 24px;
    --inputPadding: 20px;
    --f-H1: 32px;
    --f-H2: 24px;
    --f-title: 20px;
    --f-text: 16px;
    --f-caption: 14px;

}
@font-face {
    font-family: 'foo';
    src: url('../font/NotoSansKR-VariableFont_wght.ttf');
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'foo';
    src: url('../font/NotoSans-Regular.ttf');
}

* {
    font-family: 'foo';
    font-size: var(--text);
}
*::-webkit-scrollbar{
    width: 8px;
    padding: 0;
    margin: 0;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--gray-80);
    background-clip: padding-box;
    border-radius: 10px;
    border: 2px solid transparent; 
}
*::-webkit-scrollbar-track{
    background-color: var(--gray-50);
}

.page_view {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 6px);
    display: flex;
    align-items: stretch;
    background: var(--gray-50);
}
.page_view .gnb { /* 임의추가 - gnb 어떻게 선언되어있는지 몰라서 임의로 추가함*/
    width: var(--gnbSize);
    display: block;
    background-color: var(--background);
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.10));
}
.page_view .gnb #able_login{
    display: none;
}
.page_view .gnb .icon_box{
    width: var(--gnbSize);
    height: var(--gnbSize);
}
.page_view .gnb .icon_box .gnb_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--gnbSize);
    height: var(--gnbSize);
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.page_view .gnb .icon_box .gnb_btn:hover,
.page_view .gnb .icon_box .gnb_btn.active {
    background-color: #4F2AB8;
}
.page_view .gnb .icon_box .gnb_btn:not(.user_btn):hover .gnb_img,
.page_view .gnb .icon_box .gnb_btn:not(.user_btn).active .gnb_img {
    filter: invert(100%);
}
.page_view .gnb .icon_box .gnb_img{
    width: calc(var(--gnbSize) / 2.25);
    height: calc(var(--gnbSize) / 2.25);
    /*margin: 20px;*/
}
.page_view .gnb .icon_box .user_img{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: 12px;
}
.page_view .gnb #setting_icon{
    position: fixed;
    bottom: 0;
}
.page_view .main_view {
    width: calc(100% - var(--gnbSize));
}
.page_view .main_view.centerBox { /* 임의추가 - 센터에 지정할 클래스명 centerBox 임의로 추가함*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_view > div { /* 이런식으로 login_box와 register_form 선언 안하고 조정할 수 있음. 임의추가 */
    overflow: hidden;
    /* 값 공통이라 각 파일에서 common으로 가져옴 */
    min-width: 500px; 
    background: var(--background);
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}
.form_tittle {
    color: var(--primary-500);
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
.footer_box {
    display: flex;
    padding: 0 var(--padding);
    justify-content: space-between;
    margin-bottom: 48px;
}
.footer_box > a {
    color: var(--gray);
    text-align: unset;
    text-decoration: none;
}
.back_img_box {
    width: calc(var(--gnbSize) / 2);
    height: calc(var(--gnbSize) / 2);
    overflow: hidden;
    position: absolute;
}
.back_img_box .back_img{
    width: 100%;
    height: 100%;
}
input {
    padding: var(--inputPadding);
    font-size: var(--text);
    border-radius: 16px;
    border: 0;
    box-shadow: var(--bs-02);
}
input::placeholder {
    color: var(--gray-80);
}
input:focus {
    outline: none;
}
input[type=submit]:focus, input[type=button]:focus, a:focus{
    outline: 1px solid var(--gray);
}


/* login */
.login_box .login_form {
    padding: var(--padding);
}
.login_box .header_box { /* 엑박때에도 영역 보존하려면 설정해두는게 좋음 */
    display: block;
    min-height: 200px;
    overflow: hidden;
    background-image: url('../img/chat_logo.png');
    background-size: cover;
    background-position: center;
}
.login_form{
    background: var(--background);
}
.login_form form,
.login_form .button_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.login_form .form_tittle {
    margin: 20px 0 40px;
}
.login_btn {
    background: var(--primary-500);
    color: var(--white);
    font-weight: 700;
    text-align: center;
}


/* register */
.header_box {
    display: flex;
    align-items: center;
    padding: var(--padding);
}
.register_form .form_tittle {
    width: 100%;
    text-align: center;
}
.register_form .register_box,
.register_box #send_user_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.register_form .register_box {
    padding: var(--padding);
}
.register_box form:not(#send_user_info) {
    display: flex;
    align-items: center;
    position: relative;
}
.register_box input:not([type=submit]) {
    flex: 3;
}
.register_box input.email_btn,
.register_box input.cert_num_btn {
    flex: 1;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 16px;
    position: absolute;
    right: 16px;
    box-shadow: unset;
}
.register_box ul.pw_checker {
    margin: 0;
    padding: 0;
    list-style: none;
}
.register_box ul li::before{
    content: "";
    margin-left: 20px;
    margin-right: 8px;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: cover;
    vertical-align: middle;
}
.register_box ul .checker_pass::before{
    background-image: url('../icon/-check_90383.svg');
    filter: invert(67%) sepia(36%) saturate(5883%) hue-rotate(44deg) brightness(96%) contrast(94%);
}
.register_box ul .checker_fail::before{
    background-image: url('../icon/-clear_90704.svg');
    filter: invert(21%) sepia(82%) saturate(2997%) hue-rotate(342deg) brightness(76%) contrast(86%);
}
.register_box ul .checker_none{
    color: var(--gray-80);
}
.register_box ul .checker_fail{
    color: var(--Danger-700);
}
.register_box ul .checker_pass {
    color: var(--Success-700);
}