:root{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
.page_view{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--gray-50, #F0F0F0);
    padding: 0;
    margin: 0;
}
.main_view {
    width: calc(100% - 72px);
    height: 100%;
    position: absolute;
    left:72px;
}
.login_box, .register_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer_box{
    position: relative;
}
.find_id_pw{
    position: absolute;
    margin-left: 24px;
    left: 0;
    bottom: 0;
}
.inquiry_manager{
    position: absolute;
    margin-right: 24px;
    right: 0;
    bottom: 0;
}