
@mixin flexBox($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipseBox($line: 1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

%boxShadow {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
}

@mixin activeDot($position: 4px, $borderColor: var(--background)){
  &::before {
    content: '';
    position: absolute;
    top: - $position; left: - $position;
    border: $position solid $borderColor;
    border-radius: 50%;
    width: calc(var(--imgSize) / 4);
    height: calc(var(--imgSize) / 4);
  }
}

/* for font */
%header { 
  font-size: 32px;
  font-weight: 700;
}
%title { 
  font-size:18px;
  font-weight: 700;
}
%body1 { 
  font-size: 16px;
  font-weight: 400;
}
%body2 { 
  font-size: 14px;
}
%caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px; /* 100% */
}