
@mixin flexBox($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipseBox($line: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin activeDot() {
  $position: 4px;
  &::before {
    content: '';
    position: absolute;
    top: - $position; left: - $position;
    border: $position solid var(--background);
    border-radius: 50%;
    width: calc(var(--imgSize) / 4);
    height: calc(var(--imgSize) / 4);
  }
}

@mixin messageDirection($direction: left, $color: var(--gray-50), $size: 16px) {
  content: "";
  border: $size solid transparent;
  border-top: 0;
  border-bottom-color: $color;
  position: absolute;
  #{$direction}: $size / 2 + 1;
}

%profile {
  $imgSize: var(--imgSize);
  $shadow: 6px;
  width: $imgSize;
  height: $imgSize;
  position: relative;
  border-radius: var(--br-radius);
  &.group {
    width: calc($imgSize - $shadow); height: calc($imgSize - $shadow); 
    box-shadow: $shadow $shadow 0 var(--Success-500);
    border-radius: calc(var(--br-radius) * 0.83);
  }
}

%activeDotsHoverBorder {
  background-color:var(--white); @extend %boxShadow;
  .profile { &::before{border-color:var(--white);} }
}

%boxShadow {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
}

%sideInnerTeam {
  @extend %caption;
  color: var(--gray);
  margin-left: 4px;
}



/* for font */
%header { 
  font-size: 32px;
  font-weight: 700;
}
%title { 
  font-size:18px;
  font-weight: 700;
}
%body1 { 
  font-size: 16px;
  font-weight: 400;
}
%body2 { 
  font-size: 14px;
}
%caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 100% */
}