@import "reset.css";
@import "_mixin.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root{
  --background: #FAFAFA;
  --gray: #8E8E8E;
  --gray-80: #C7C7C7;
  --gray-50: #EBEBEB;
  --white: #FFF;
  --black: #2E283B;
  --primary-500: #8D53FF;
  --Semi-Darker: #4F2AB8;
  --Success-500: #B2EF0E;
  --Success-700: #75AC08;
  --Danger-300: #ffb600;
  --Danger-500: #FF6155;
  --Danger-700: #B72935;
  --gnbSize: 72px;
  --sideSize: 500px;
  --imgSize: 48px;
  --padding: 24px;
  --inputPadding: 20px;
  --buttonPadding: 14px 16px;
  --br-radius: 16px;
  --gap: 16px;
}


/***************************************************
  common view 
****************************************************/

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  @extend %body1;
  color: var(--black);
  &::-webkit-scrollbar{width:8px;padding:0;margin:0}
  &::-webkit-scrollbar-thumb { background-color:var(--gray-80);background-clip:padding-box;border-radius:10px;border:2px solid transparent}
  &::-webkit-scrollbar-track{background-color:var(--gray-50)}
}

body {
  display: grid;
  grid-template: 1fr / var(--gnbSize) var(--sideSize) 1fr;
  background-color: var(--gray-50);
}

.main_view {
  @include flexBox(center);
  width: 100%;
  //padding-left: calc(var(--gnbSize) + var(--sideSize));
  .login--box, .register--box {
    overflow: hidden;
    width: var(--sideSize);
    height: auto;
    padding: 0;
    margin: 0 auto;
    background: var(--background);
    border-radius: var(--br-radius);
    @extend %boxShadow;
    input, label { width: 100%; }
  }
}

.form {
  &--title {
    @extend %header;
    width: 100%;
    text-align: center;
    color: var(--primary-500);
  }
	&--footer {
		@include flexBox(space-between);
		padding: 0 var(--padding);
		margin-bottom: 48px;
		a { 
			color:var(--gray);
			@extend %body1;
		}
	}
}

input {
  border-radius: var(--br-radius);
  border: 0;
  padding: var(--inputPadding);
  @extend %boxShadow;
  &::placeholder {color:var(--gray-80)}
  &:focus { outline:none}
  &[disabled] { 
    background:var(--gray-50); color:var(--gray-80);
    &+input[type="submit"] { color: var(--gray-80);}
  }
}

.vision { 
  position: relative;
  display: flex;
  align-items: center;
  &__icon {
    width: var(--padding);
    position: absolute;
    margin: var(--inputPadding);
    top: 0;right: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  #vision:checked {
    &~.active{ display:none; }
    &~.deactive { display:block; }
  }
}

.btn {
  @extend %body1;
  @extend %boxShadow;
  text-align: center;
  padding: var(--inputPadding);
  &--back {
    position: absolute;
    @include flexBox(flex-start);
    width: calc(var(--imgSize) * .75);
    img {width: 100%;}
  }
  &--small {
    @extend %body2;
    filter: unset;
    padding: var(--buttonPadding);
  }
}

.profile {
  @extend %profile;
  &::before { background-color:var(--gray-80);}
  &.active::before {background-color:var(--Success-700); }
  &.away::before {background-color:var(--Danger-300); }
}

.activeSet {
  @extend %caption;
  width: 24%;
  border: 1px solid var(--white);
  padding: calc(var(--gap) /2) var(--inputPadding) calc(var(--gap) /2) var(--gap);
  border-radius: calc(var(--br-radius) / 2);
  -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
  background: transparent url('../icon/Arrow-Selector_down.svg') no-repeat right var(--gap) center;
}



