@import "reset.css";
@import "_mixin.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root{
  --background: #FAFAFA;
  --gray: #8E8E8E;
  --gray-80: #C7C7C7;
  --gray-50: #EBEBEB;
  --white: #FFF;
  --black: #2E283B;
  --primary-500: #8D53FF;
  --Semi-Darker: #4F2AB8;
  --Success-500: #B2EF0E;
  --Success-700: #75AC08;
  --Danger-300: #ffb600;
  --Danger-500: #FF6155;
  --Danger-700: #B72935;
  --gnbSize: 72px;
  --sideSize: 500px;
  --imgSize: 48px;
  --padding: 24px;
  --inputPadding: 20px;
  --buttonPadding: 14px 16px;
  --br-radius: 16px;
  --gap: 16px;
}


/***************************************************
  common view 
****************************************************/

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  @extend %body1;
  color: var(--black);
  &::-webkit-scrollbar{width:8px;padding:0;margin:0}
  &::-webkit-scrollbar-thumb { background-color:var(--gray-80);background-clip:padding-box;border-radius:10px;border:2px solid transparent}
  &::-webkit-scrollbar-track{background-color:var(--gray-50)}
}

body {
  display: grid;
  grid-template: 1fr / var(--gnbSize) var(--sideSize) 1fr;
  background-color: var(--gray-50);
}

.main_view {
  width: 100%;
  //padding-left: calc(var(--gnbSize) + var(--sideSize));
  &.login, &.register {
    @include flexBox(center);
  }
  .login--box, .register--box {
    overflow: hidden;
    width: var(--sideSize);
    height: auto;
    padding: 0;
    margin: 0 auto;
    background: var(--background);
    border-radius: var(--br-radius);
    @extend %boxShadow;
    input, label { width: 100%; }
  }
}

.form {
  &--title {
    @extend %header;
    width: 100%;
    text-align: center;
    color: var(--primary-500);
  }
	&--footer {
		@include flexBox(space-between);
		padding: 0 var(--padding);
		margin-bottom: 48px;
		a { 
			color:var(--gray);
			@extend %body1;
		}
	}
}

input {
  border-radius: var(--br-radius);
  border: 0;
  padding: var(--inputPadding);
  @extend %boxShadow;
  &::placeholder {color:var(--gray-80)}
  &:focus { outline:none}
  &[disabled] { 
    background:var(--gray-50); color:var(--gray-80);
    &+input[type="submit"] { color: var(--gray-80);}
  }
}

.vision { 
  position: relative;
  display: flex;
  align-items: center;
  &__icon {
    width: var(--padding);
    position: absolute;
    margin: var(--inputPadding);
    top: 0;right: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  #vision:checked {
    &~.active{ display:none; }
    &~.deactive { display:block; }
  }
}

.btn {
  @extend %body1;
  @extend %boxShadow;
  text-align: center;
  padding: var(--inputPadding);
  &--back {
    position: absolute;
    @include flexBox(flex-start);
    width: calc(var(--imgSize) * .75);
    img {width: 100%;}
  }
  &--small {
    @extend %body2;
    filter: unset;
    padding: var(--buttonPadding);
  }
}

.profile {
  @extend %profile;
  &::before { background-color:var(--gray-80);}
  &.online::before {background-color:var(--Success-700); }
  &.away::before {background-color:var(--Danger-300); }
}

.activeSet {
  @extend %caption;
  width: 24%;
  border: 1px solid var(--white);
  padding: calc(var(--gap) /2) var(--inputPadding) calc(var(--gap) /2) var(--gap);
  border-radius: calc(var(--br-radius) / 2);
  -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
  background: transparent url('../icon/Arrow-Selector_down.svg') no-repeat right var(--gap) center;
}




/***************************************************
  chat view 
****************************************************/
//.chat_user_info
.chat {
  display: grid;
  height: 100vh;
  grid-template-rows: var(--gnbSize) 1fr var(--gnbSize);
  background: var(--background);
  &--user_info {
    @include flexBox();
    gap: var(--gap);
    width: 100%;
    height: var(--gnbSize);
    padding: var(--gap) var(--padding);
    &__name {@extend %body1; font-weight: bold;}
    &__recent {@extend %body2; color: var(--gray);}
  }
  &--body {
    @include flexBox();
    flex-direction: column;
    gap: var(--inputPadding);
    width: 100%;
    padding: var(--padding);
    overflow: hidden auto;
    background-color: var(--white) !important;
    border-radius: var(--br-radius) var(--br-radius) 0 0;
    @extend %boxShadow;
    > * {width: 100%;}
    > :first-child { margin-top: auto }
    .message_box {
      @include flexBox($align: end);
      display: flex;
      align-items: end;
      gap : var(--gap);
      width: 100%;
      &.given {
        .message_box__text {
          background-color: var(--gray-50);
          &::after{
            border-top: 0px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 13px solid var(--gray-50);
            content: "";
            position: absolute;
            bottom: 0;
            left: -15px;
          }
        }
      }
      &.send {
        flex-direction: row-reverse;
        .message_box__text {
          background-color: var(--Semi-Darker);
          color: var(--white);
          &::after{
            border-top: 0px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 13px solid var(--Semi-Darker);
            content: "";
            position: absolute;
            bottom: 0;
            right: -15px;
          }
        }
      }
      &--date {
        @include flexBox(center);
        gap: var(--gap);
        color: var(--gray-50);
        font-size: var(--text);
        &::before, &::after {
          content: "";
          display: inline-block;
          width: 15%;
          height: 1px;
          background: var(--gray-50);
        }
      }
      &__text {
        padding: 24px;
        border-radius: 16px;
        max-width: 70%;
        position: relative;
      }
    }
  }
  &--footer {
    @include flexBox($align: flex-end);
    gap: var(--gap);
    height: 100%;
    &__box {
      display: grid;
      align-items: end;
      width: 100%;
      max-height: calc(var(--gnbSize) * 2);
      padding: 10px var(--inputPadding);
      background-color: var(--background);
      position: relative;
      bottom: 0;
      &::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
        border: 1px solid black;
        padding: 0.5rem;
        font: inherit;
        /* Place on top of each other */
        grid-area: 1 / 1 / 2 / 2;
      }
    }
    &__text {
      width: 100%;
      height: 100%;
      max-height: calc(var(--gnbSize) * 2 - 20px);
      @extend %body1;
      border: 0;
      resize: none;
      padding: var(--gap);
      /* Place on top of each other */
      grid-area: 1 / 1 / 2 / 2;
      border-radius: var(--br-radius);
      &:focus{
        outline:none;
        @extend %boxShadow;
      }
    }
    &__send {
      background-color: var(--primary-500);
      position: relative;
      &::before{
        content: url('../icon/-send_90420.svg');
        display: block;
        filter: invert(100%);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}