@import "reset.css";
@import "_mixin.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root{
  --background: #FAFAFA;
  --gray: #8E8E8E;
  --gray-80: #C7C7C7;
  --gray-50: #EBEBEB;
  --white: #FFF;
  --black: #2E283B;
  --primary-500: #8D53FF;
  --Semi-Darker: #4F2AB8;
  --Success-500: #B2EF0E;
  --Success-700: #75AC08;
  --Danger-300: #ffb600;
  --Danger-500: #FF6155;
  --Danger-700: #B72935;
  --filter-primary: invert(34%) sepia(66%) saturate(2339%) hue-rotate(241deg) brightness(99%) contrast(105%);
  --filter-white: invert(92%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(89%) contrast(89%);
  --filter-white-bgP: invert(100%) sepia(53%) saturate(0%) hue-rotate(319deg) brightness(105%) contrast(102%);
  --filter-gray : invert(62%) sepia(0%) saturate(1878%) hue-rotate(157deg) brightness(90%) contrast(93%);
  --filter-gray-80 : invert(90%) sepia(0%) saturate(393%) hue-rotate(137deg) brightness(100%) contrast(70%);
  --filter-Success: invert(55%) sepia(77%) saturate(887%) hue-rotate(40deg) brightness(91%) contrast(94%);
  --filter-Danger: invert(21%) sepia(82%) saturate(2997%) hue-rotate(342deg) brightness(76%) contrast(86%);
  --gnbSize: 72px;
  --sideSize: 500px;
  --imgSize: 48px;
  --padding: 24px;
  --inputPadding: 20px;
  --buttonPadding: 14px 16px;
  --br-radius: 16px;
  --gap: 16px;
}


/***************************************************
  common view 
****************************************************/

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  @extend %body1;
  color: var(--black);
  &::-webkit-scrollbar{width:8px;padding:0;margin:0}
  &::-webkit-scrollbar-thumb { background-color:var(--gray-80);background-clip:padding-box;border-radius:10px;border:2px solid transparent}
  &::-webkit-scrollbar-track{background-color:var(--gray-50)}
}

body {
  display: grid;
  grid-template: 1fr / var(--gnbSize) var(--sideSize) 1fr;
  background-color: var(--gray-50);
}

.form {
  &--title {
    @extend %header;
    width: 100%;
    text-align: center;
    color: var(--primary-500);
  }
	&--footer {
		@include flexBox(space-between);
		padding: 0 var(--padding);
		margin-bottom: 48px;
		a { 
			color:var(--gray);
			@extend %body1;
		}
	}
}

input {
  border-radius: var(--br-radius);
  border: 0;
  padding: var(--inputPadding);
  @extend %boxShadow;
  &::placeholder {color:var(--gray-80)}
  &:focus { outline:none}
  &[disabled] { 
    background:var(--gray-50); color:var(--gray-80);
    &+input[type="submit"] { color: var(--gray-80);}
  }
}

.vision { 
  position: relative;
  display: flex;
  align-items: center;
  &__icon {
    width: var(--padding);
    position: absolute;
    margin: var(--inputPadding);
    top: 0;right: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  #vision:checked {
    &~.active{ display:none; }
    &~.deactive { display:block; }
  }
}

.btn {
  @extend %body1;
  @extend %boxShadow;
  text-align: center;
  padding: var(--inputPadding);
  &--back {
    position: absolute;
    @include flexBox(flex-start);
    width: calc(var(--imgSize) * .75);
    img {width: 100%;}
  }
  &--small {
    @extend %body2;
    filter: unset;
    padding: var(--buttonPadding);
  }
}

.profile {
  @extend %profile;
  &::before { background-color:var(--gray-80);}
  &.online::before {background-color:var(--Success-700); }
  &.away::before {background-color:var(--Danger-300); }
}

.activeSet {
  @extend %caption;
  width: 24%;
  border: 1px solid var(--white);
  padding: calc(var(--gap) /2) var(--inputPadding) calc(var(--gap) /2) var(--gap);
  cursor: pointer;
  border-radius: calc(var(--br-radius) / 2);
  -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
  background: transparent url('../icon/Arrow-Selector_down.svg') no-repeat right var(--gap) center;
}

.displayNone {
  display: none !important;
}


/***************************************************
  common view 
****************************************************/

#empty_contents {
  @include flexBox(center);
  flex-direction: column;
  height: 100%;
  color: var(--gray-80);
}

.main_view {
  width: 100%;
  height: 100%;
  //padding-left: calc(var(--gnbSize) + var(--sideSize));
  &.login, &.register {
    @include flexBox(center);
  }
  .login--box, .register--box {
    overflow: hidden;
    width: var(--sideSize);
    height: auto;
    padding: 0;
    margin: 0 auto;
    background: var(--background);
    border-radius: var(--br-radius);
    @extend %boxShadow;
    input, label { width: 100%; }
  }
}







/***************************************************
  side_bar setting view 
****************************************************/
.setting {
  > * {width: 100%;}
  &--user {
    display: grid;
    grid-template-columns: calc(var(--imgSize) * 3) 1fr;
    align-items: center;
    gap: var(--padding);
    padding: 40px;
    position: relative;
    &.editing {
      background: var(--white);
      .user--img .profile_uploader {
        @include flexBox(center);
        width: 100%; height: 100%;
        position: absolute;
        top: 0;left: 0;
        background-color: rgba(0,0,0,.2);
        cursor: pointer;
      }
      .user--detail { input, textarea {
          padding: calc(var(--gap) / 2);
        }
      }
      .user__name { 
        width: 70%;
        color:var(--back);
        border-bottom: 2px solid var(--primary-500);
      }
      .user__team,
      .user__email { 
        color:var(--gray-80);
      }
      .user--status_message {
        color:var(--back);
        border: 1px solid var(--primary-500);
        border-bottom: 2px solid var(--primary-500);
      }
      .editToggle {
        border-color: transparent;
        background-color: var(--primary-500);
        @extend %boxShadow;
        img {filter: var(--filter-white-bgP);}
        p {color: var(--white);}
      }
    }
  }
  .user {
    &--img {
      width: calc(var(--imgSize) * 3);
      height: calc(var(--imgSize) * 3);
      border-radius: 50%;
      background: url('../img/profile_basic.png') center / cover;
      overflow: hidden;
      position: relative;
      .profile_uploader {
        display: none;
      }
    }
    &--detail {
      @include flexBox(space-between, flex-start);
      flex-direction: column;
      gap: 4px;
      width: 100%;
      height: 100%;
      position: relative;
      input, textarea {
        padding: calc(var(--gap) / 2) 0; 
        background-color: transparent;
        border-radius: 0; 
        border-bottom: 2px solid transparent;
      }
      //input[type="checkbox"] {display: none}
    }
    &__name{
      @extend %title;
      color:var(--gray);
    }
    &__team,
    &__email { 
      @extend %body2;
      color:var(--gray);
    }
    &--status_message {
      width: 100%;
      min-height: calc(var(--padding) * 2);
      max-height: calc(var(--padding) * 3);
      margin-top: calc(var(--gap) / 2);
      &:focus { outline: none;}
      resize: vertical; border: 0
    }
  }
  .editToggle { 
    @include flexBox(); gap: 4px; @extend %caption;
    border: 1px solid;
    color: black;
    border-radius: calc(var(--br-radius) / 2);
    position: absolute;
    top: 0;right: 0;
    padding: 8px;
    z-index: 99;
    cursor: pointer;
    filter: var(--filter-white);
    img {width: var(--gap); height: var(--gap);}
    &:hover { filter:unset;}
  }

  &--options {
    .option {
      display: grid;
      grid-template-columns: 56px 1fr;
      align-items: center;
      gap: var(--padding);
      padding: var(--inputPadding) calc(var(--inputPadding) * 2);
      background-color: var(--white);
      cursor: pointer;
      position: relative;
      &.logout { .option--icon {background: var(--Danger-500);}}
      &:hover { background: var(--background) }
      &--icon {
        @include flexBox(center);
        border-radius: var(--br-radius);
        padding: var(--gap);
        background-color: var(--Success-500);
      }
      &--text {
        @extend %body1;
        font-weight: normal;
      }
      &.withdraw {
        background: unset; 
        cursor: help; 
        &:hover{background: unset;}
        .option--icon {display: none;}
        .option--text {
          @extend %body2;
          color: var(--gray);
        }
      }
    }
  }
}
