@import "_mixin.scss";

/***************************************************
  gnb view 
****************************************************/
#gnb {
  display: block;
  min-width: var(--gnbSize);
  width: 100%; height: 100%;
  transition: .15s;
  z-index: 99;
  background-color: var(--background);
  @extend %boxShadow;
  #version {display: none}
  .btn {
    @include flexBox(space-between);
    width: 100%;
    padding: var(--padding);
    img {
      min-width: 24px;
      height: 24px;
    }
    &:hover, &.active {
      background-color: var(--Semi-Darker);
      color: var(--white);
      img { filter: var(--filter-white-bgP)}
    }
    &::after {@extend %body1; width: 100%; text-align: left; white-space: nowrap;}
    &.hasNoti::before {
      content: '';
      display: inline-block;
      background: var(--Danger-300);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      left: var(--inputPadding);
      top: var(--inputPadding);
    }
  }
  &:hover {
    width: 200px;
    border-radius: var(--br-radius);
    .btn {
      img {margin: 0 var(--padding) 0 0;}
      &--Notification::after {content: '알림';}
      &--Friends::after {content: '친구목록';}
      &--Chat::after {content: '채팅';}
      &--User::after {content: '설정';}
    }
    #version {
      display: block;
      padding: var(--padding);
      position: absolute;
      bottom: 0;
      @extend %caption;
      color: var(--gray-80);
    }
  }
}


/***************************************************
  side_bar view 
****************************************************/

.side_bar {
  width: var(--sideSize);
  height: 100%;
  background: var(--background);
  z-index: 55;
  @extend %boxShadow;
  &--tab {
    display: none;
    height: 100%;
    max-height: 100vh;
    &.active { display:block}
  }
  &--header {
    @include flexBox(space-between);
    width: 100%;
    height: var(--gnbSize);
    background-color: var(--Semi-Darker);
    padding: var(--padding);
    > * {color: var(--white);}
    &__title{@extend %body1;}
    button {
      height: 100%;
      img {filter: var(--filter-white-bgP); height: 100%;}
    }
    &__dropdown {
      @include flexBox(); 
      opacity: 0; visibility: hidden;
      &.active{opacity: 1; visibility: initial;}
      flex-direction: column;
      width: fit-content;
      position: absolute;
      top: calc(var(--gnbSize) - var(--padding) / 2);
      right: calc(var(--padding) / 2);
      z-index: 99;
      transition: .2s;
      @extend %boxShadow;
      cursor: pointer;
      &::before{
        $size: 8px;
        @include messageDirection(top, var(--white), $size);
        top: - $size;
        right: calc(var(--padding) - 2px);
      }
      li {
        @extend %body2;
        @include flexBox();
        width: 100%;
        gap: calc(var(--gap) / 2);
        background-color: var(--white);
        border-bottom: 1px solid var(--gray-50);
        filter: unset;
        &:hover { background-color:var(--background)}
        $borderRadius: calc(var(--br-radius) / 2);
        &:first-child { border-top-left-radius: $borderRadius; border-top-right-radius: $borderRadius; }
        &:last-child{  border-bottom-left-radius: $borderRadius; border-bottom-right-radius: $borderRadius;  border: 0;}
      }
    }
  }
  &--body {
    @include flexBox(flex-start, flex-start);
    flex-direction: column;
    gap: 10px;
    width: 100%;
    //height: 100%;
    height: calc(100% - var(--gnbSize));
    overflow-y: auto;
    padding: var(--gap) var(--gap) calc(var(--gnbSize) + 10px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.setting {padding: 0;}
  }
}


/***************************************************
  side_bar notice view 
****************************************************/
.notice {
  &--group {
    display: grid;
    grid-template-columns: var(--imgSize) 1fr minmax(max-content, 24px);
    align-items: start;
    gap: var(--gap);
    width: 100%;
    padding: var(--inputPadding);
    background: var(--white);
    border-radius: var(--br-radius);
    max-height: 100vh;
    @extend %boxShadow;
    &.deleted{
      max-height: 50px;
      overflow: auto;
      scroll-behavior: hidden;
      z-index: -1;
      transition-duration: .3s;
      transition-timing-function: ease;
      &::-webkit-scrollbar{
        display: none;
      }
    }
    &.system .notice--type { background-color:var(--Semi-Darker); img {filter: invert(100%); padding: 12px;}}
    &.danger .notice--type { background-color:var(--Danger-500); img {filter: invert(100%); padding: 12px;}}
    &.group .notice--type img {
      $shadow: 6px;
      width: calc(100% - $shadow); height: calc(100% - $shadow); 
      box-shadow: $shadow $shadow 0 var(--Success-500);
      border-radius: calc(var(--br-radius) * 0.83);
    }
    &.normal .notice--box__title, 
    &.group .notice--box__title {
      p { @include ellipseBox;max-width:76%}
      &::after {
        content: "의 새 메세지";
        display: inline;
        @extend %body2;
      }
    }
    &.friends {
      & .notice--box{
        &__title{
          p { @include ellipseBox;max-width:76%}
          &::after {
            content:"님의 친구 요청";
            display: inline;
            @extend %body2;
          }
        }
        &__content {
          div
          &::after {
            content: "님의 친구 요청이 도착했습니다. \A수락하시겠습니까?";
            white-space: pre;
            display: inline;
          }
        }
      }
    }
  }
    
  &--type {
    width: var(--imgSize);
    height: var(--imgSize);
    border-radius: var(--br-radius);
    overflow: hidden;
    img {
      width: 100%; height: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  &--box {
    @include flexBox(flex-start, flex-start);
    flex-direction: column;
    gap: calc(var(--gap) / 2);
    @extend %body2;
    &__title {
      @include flexBox();
      width: 100%;
      font-weight:bold;
      p {font-weight:bold;}
    }
    &__content { width:100%}
    &__time { @extend %caption;color:var(--gray-80)}
  }
  &--btn{
    padding: 0;
    &.delete::after {
      content: url('../icon/Clear.svg');
      display: block;
      width: 24px;
      height: 24px;
      filter: invert(87%) sepia(1%) saturate(65%) hue-rotate(148deg) brightness(117%) contrast(56%);
    }
    &.actions, .actions {
      @include flexBox(center);
      flex-direction: column;
      gap: calc(var(--gap) / 2);
      height: 100%;
      > * {
        @include flexBox();
        @extend %body2;
        border-radius: calc(var(--br-radius) / 2);
      }
      &__accept {filter: var(--filter-Success)}
      &__reject {filter: var(--filter-Danger)}
    }
  }
}


/***************************************************
  side_bar friends view 
****************************************************/
.friends {
  &--group {
    @include flexBox(flex-start, flex-start);
    flex-direction: column;
    gap: calc(var(--gap) / 2);
    width: 100%;
    &__title {
      width: 100%;
      padding: var(--gap) var(--padding) 0;
      box-sizing: border-box;
      border-top: 1px dashed var(--gray-50);
      vertical-align: middle;
      color: var(--gray-80);
      @extend %caption;
    }
    &.off .friends {
      &--box > * {opacity: .5;}
      &--profile::before {display: none;}
    }
  }
  &--box {
    display: grid;
    grid-template-columns: var(--imgSize) 1fr;
    align-items: center;
    grid-auto-flow: column;
    gap: var(--gap);
    width: 100%;
    padding: var(--gap) var(--padding);
    border-radius: var(--br-radius);
    cursor: pointer;
    &:hover{ @extend %activeDotsHoverBorder; 
      &::after {
        content: url(../icon/Add_comment.svg);
        height: var(--padding);
      }
    }
  }
  &--profile { 
    @include activeDot();
  }
  &--detail {
    width: 100%;
    overflow: hidden;
  }
  &__name {
    @extend %body1;
    font-weight: bold;
    margin-bottom: 4px;
    span { @extend %sideInnerTeam; }
  }
  &__status {
    @extend %body2;
    @include ellipseBox(1);
  }
}


/***************************************************
  side_bar chatting_room view 
****************************************************/
.room {
  gap: 0;
  padding: 0 !important;
  &--box {
    display: grid;
    grid-template-columns: var(--imgSize) 1fr;
    gap: var(--gap);
    width: 100%;
    padding: var(--padding);
    cursor: pointer;
    &:hover{ @extend %activeDotsHoverBorder; }
    &.new {
      .room__time::before {
        content: '';
        background-color: var(--Danger-300);
        display: inline-block;
        //padding: calc(var(--gap) / 2);
        $size: 8px;
        width: $size; height: $size;
        border-radius: 50%;
        margin-right: $size;
      }
      .room__status {
        font-weight: bold;
      }
    }
  }
  &--profile {
    @include activeDot();
  }
  &__name {
    @include flexBox();
    @extend %body1;
    font-weight: bold;
    margin-bottom: 4px;
    position: relative;
    span { @extend %sideInnerTeam; }
  }
  &__status {
    position: relative;
    @include ellipseBox();
    @extend %body2;
    img { 
      max-width: 20px; 
      margin-right:8px;
    }
    &.hasImg::after {
      content: '이미지';
      display: block;
    }
  }
  &__time {
    position: absolute;
    right: 0;
    @extend %caption;
    color: var(--gray-80);
  }
}


/***************************************************
  side_bar setting view 
****************************************************/
.setting {
  > * {width: 100%;}
  &--user {
    display: grid;
    grid-template-columns: calc(var(--imgSize) * 3) 1fr;
    align-items: center;
    gap: var(--padding);
    padding: 40px;
    position: relative;
    &.editing {
      background: var(--white);
      .user--img .profile_uploader {
        @include flexBox(center);
        width: 100%; height: 100%;
        position: absolute;
        top: 0;left: 0;
        background-color: rgba(0,0,0,.2);
        cursor: pointer;
      }
      .user__name { 
        color:var(--back);
        border-bottom: 2px solid var(--primary-500);
      }
      .user__team,
      .user__email { 
        color:var(--gray-80);
      }
      .user--status_message {
        color:var(--back);
        border-color: var(--primary-500);
      }
      .editToggle {
        border-color: transparent;
        background-color: var(--primary-500);
        @extend %boxShadow;
        img {filter: var(--filter-white-bgP);}
        p {color: var(--white);}
      }
    }
  }
  .user {
    &--img {
      width: calc(var(--imgSize) * 3);
      height: calc(var(--imgSize) * 3);
      border-radius: 50%;
      background: url('../img/profile_basic.png') center / cover;
      overflow: hidden;
      position: relative;
      .profile_uploader {
        display: none;
      }
    }
    &--detail {
      @include flexBox(space-between, flex-start);
      flex-direction: column;
      gap: 4px;
      width: 100%;
      height: 100%;
      position: relative;
      p { padding: 0 calc(var(--gap) / 2); }
      input, textarea {
        padding: calc(var(--gap) / 2); 
        background-color: transparent;
        border-radius: 0; 
        border: 1px solid transparent;
        border-bottom: 2px solid transparent;
      }
    }
    &__name{
      @extend %title;
      color:var(--back);
      width: 60%;
    }
    &__team,
    &__email { 
      @extend %body2;
      color:var(--gray);
    }
    &--status_message {
      width: 100%;
      min-height: calc(var(--padding) * 2);
      max-height: calc(var(--padding) * 3);
      margin-top: calc(var(--gap) / 2);
      &:focus { outline: none;}
      resize: none;
    }
  }
  .editToggle { 
    @include flexBox(); gap: 4px; @extend %caption;
    border: 1px solid;
    color: black;
    border-radius: calc(var(--br-radius) / 2);
    position: absolute;
    padding: 8px;
    margin: calc(var(--gap) / 2);
    top: 0;right: 0;
    z-index: 99;
    cursor: pointer;
    filter: var(--filter-white);
    img {width: var(--gap); height: var(--gap);}
    &:hover { filter:unset;}
  }

  &--options {
    .option {
      display: grid;
      grid-template-columns: 56px 1fr;
      align-items: center;
      gap: var(--padding);
      padding: var(--inputPadding) calc(var(--inputPadding) * 2);
      background-color: var(--white);
      cursor: pointer;
      position: relative;
      &.logout { .option--icon {background: var(--Danger-500);}}
      &:hover { background: var(--background) }
      &--icon {
        @include flexBox(center);
        border-radius: var(--br-radius);
        padding: var(--gap);
        background-color: var(--Success-500);
      }
      &--text {
        @extend %body1;
        font-weight: normal;
      }
      &.withdraw {
        background: unset; 
        cursor: help; 
        &:hover{background: unset;}
        .option--icon {display: none;}
        .option--text {
          @extend %body2;
          color: var(--gray);
        }
      }
    }
  }
}
