@import "_mixin.scss";

/***************************************************
  login view 
****************************************************/

.login {
  grid-column: span 3;
  &--header {
		&::before {
			content: '';
			display: block;
			min-height: 250px;
			overflow: hidden;
			background: var(--Semi-Darker) url('../img/chat_title-text.png') center;		
		}
		.form--title { padding:40px var(--padding)}
	}
  &--form {
    @include flexBox(center);
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 var(--padding) var(--padding);
  }

  .btn {
		&--login {background: var(--primary-500); color: var(--white);}
		&--register {background:var(--gray-50)}
	}
}


/***************************************************
  register view 
****************************************************/
.register {
  grid-column: span 3;
	&--header {
    @include flexBox();
    padding: 40px var(--padding);
    position: relative;
	}
  &--form {
    padding: 0 var(--padding) var(--padding);
    form {
      @include flexBox();
      flex-direction: column;
      gap: var(--padding);
      position: relative;
      width: 100%;
    }
    input.btn--small {
      width: auto;
      position: absolute;
      top: 8px;right: 8px;
    }
    #register_cert_num {
      opacity: 0;
      margin-top: -64px;
      margin-bottom: var(--padding);
      transition: .5s;
      z-index: -1;
      &.active {
        opacity: 1;
        margin-top: var(--padding);
        z-index: unset;
      }
    }
    .pw_checker {
      width: 100%;
      list-style: none;
      padding-left: var(--inputPadding);
      .checker{
        &::before{
          content: "";
          display: inline-block;
          width: var(--inputPadding); height: var(--inputPadding);
          margin-right: 8px;
          vertical-align: middle;
          background: url('../icon/Check.svg') center / cover;
        }
        &_none { 
          color:var(--gray-80);
          &::before{filter:invert(90%) sepia(0%) saturate(393%) hue-rotate(137deg) brightness(100%) contrast(70%)}
        }
        &_fail{ 
          color:var(--Danger-700);
          &::before {
            background-image: url('../icon/Clear.svg');
            filter: invert(21%) sepia(82%) saturate(2997%) hue-rotate(342deg) brightness(76%) contrast(86%);
          }
        }
        &_pass{ 
          color:var(--Success-700);
          &::before { filter:invert(67%) sepia(36%) saturate(5883%) hue-rotate(44deg) brightness(96%) contrast(94%)}
        }
      }
    }
  }
  .btn {
    &--register {background: var(--primary-500); color: var(--white);}
  }

}


/***************************************************
  side_bar notice view 
****************************************************/
.notice {
  &--group {
    display: grid;
    grid-template-columns: var(--imgSize) 1fr minmax(max-content, 24px);
    align-items: start;
    gap: var(--gap);
    width: 100%;
    padding: var(--inputPadding);
    background: var(--white);
    border-radius: var(--br-radius);
    @extend %boxShadow;
    &.system .notice--type { background-color:var(--Semi-Darker); img {filter: invert(100%); padding: 12px;}}
    &.danger .notice--type { background-color:var(--Danger-500); img {filter: invert(100%); padding: 12px;}}
    &.team {
      .notice--type img {
        $shadow: 6px;
        width: calc(100% - $shadow); height: calc(100% - $shadow); 
        box-shadow: $shadow $shadow 0 var(--Success-500);
        border-radius: calc(var(--br-radius) * 0.83);
      }
    }
    &.normal .notice--box__title, 
    &.team .notice--box__title {
      p { @include ellipseBox;max-width:76%}
      &::after {
        content: "의 새 메세지";
        display: inline;
        @extend %body2;
      }
    }
  }
  &--type {
    width: var(--imgSize);
    height: var(--imgSize);
    border-radius: var(--br-radius);
    overflow: hidden;
    img {
      width: 100%; height: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  &--box {
    @include flexBox(flex-start, flex-start);
    flex-direction: column;
    gap: calc(var(--gap) / 2);
    @extend %body2;
    &__title {
      @include flexBox();
      width: 100%;
      font-weight:bold;
      p {font-weight:bold;}
    }
    &__content { width:100%}
    &__time { @extend %caption;color:var(--gray-80)}
  }
  &--btn{
    padding: 0;
    &.delete::after {
      content: url('../icon/Clear.svg');
      display: block;
      width: 24px;
      height: 24px;
      filter: invert(87%) sepia(1%) saturate(65%) hue-rotate(148deg) brightness(117%) contrast(56%);
    }
    &.actions, .actions {
      @include flexBox(center);
      flex-direction: column;
      gap: calc(var(--gap) / 2);
      height: 100%;
      button {
        @include flexBox();
        @extend %body2;
        border-radius: calc(var(--br-radius) / 2);
      }
      &__accept {filter:invert(55%) sepia(77%) saturate(887%) hue-rotate(40deg) brightness(91%) contrast(94%)}
      &__reject {filter: invert(87%) sepia(1%) saturate(65%) hue-rotate(148deg) brightness(117%) contrast(56%)}
    }
  }
}


/***************************************************
  side_bar friends view 
****************************************************/
.friends {
  &--group {
    @include flexBox(flex-start, flex-start);
    flex-direction: column;
    gap: calc(var(--gap) / 2);
    width: 100%;
    &__title {
      width: 100%;
      padding: var(--gap) var(--padding) 0;
      box-sizing: border-box;
      border-top: 1px dashed var(--gray-50);
      vertical-align: middle;
      color: var(--gray-80);
      @extend %caption;
    }
    &.on .friends { 
      &--box{ cursor: pointer; 
        &:hover{ background-color:var(--white); @extend %boxShadow;
          .friends--profile { &::before{border-color:var(--white);} }
        }
      }
    }
    &.off {
      .friends--box {opacity: .5;}
      .friends--profile::before {display: none;}
    }
  }
  &--box {
    display: grid;
    grid-template-columns: var(--imgSize) 1fr;
    gap: var(--gap);
    width: 100%;
    padding: var(--gap) var(--padding);
    border-radius: var(--br-radius);
  }
  &--profile { 
    @include activeDot();
  }
  &--detail {
    width: 100%;
    overflow: hidden;
  }
  &__name {
    @extend %body1;
    font-weight: bold;
    margin-bottom: 4px;
    span { @extend %sideInnerSpan; }
  }
  &__status {
    @extend %body2;
    @include ellipseBox(2);
  }
  //&--btns {
  //  display: block;
  //  width: 100%;
  //  height: 100%;
  //  background-color: yellow;
  //}
}


/***************************************************
  side_bar setting view 
****************************************************/
.setting {
  > * {width: 100%;}
  &--user {
    display: grid;
    grid-template-columns: calc(var(--imgSize) * 3) 1fr;
    align-items: center;
    gap: var(--padding);
    padding: 40px;
    .user {
      &--img {
        width: calc(var(--imgSize) * 3);
        height: calc(var(--imgSize) * 3);
        border-radius: 50%;
        background: url('../img/profile_basic.png') center / cover;
      }
      &--detail {
        @include flexBox(space-between, flex-start);
        flex-direction: column;
        height: 100%;
      }
      &--cover { 
        @include flexBox(flex-start, flex-start);
        flex-direction: column;
        gap: calc(var(--gap) / 2);
        .flexBox {@include flexBox(); gap: calc(var(--gap) / 2);}
        &__name{@extend %title;color:var(--black)}
        &__edit { @include flexBox();@extend %caption;
          img {width: var(--gap); height: var(--gap);}
        }
        &__email { @extend %body2;color:var(--gray)}
      }
      &--activeSet {
        @extend %caption;
        width: 50%;
        color: var(--primary-500);
        border: 1px solid var(--primary-500);
        padding: calc(var(--gap) /2) var(--padding) calc(var(--gap) /2) var(--gap);
        border-radius: calc(var(--br-radius) / 2);
        -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
        background: transparent url('../icon/Arrow-Selector_down.svg') no-repeat right var(--gap) center;
      }
    }
  }
  &--options {
    .option {
      display: grid;
      grid-template-columns: 56px 1fr;
      align-items: center;
      gap: var(--padding);
      padding: var(--inputPadding) calc(var(--inputPadding) * 2);
      background-color: var(--white);
      cursor: pointer;
      position: relative;
      &.logout { .option--icon {background: var(--Danger-500);}}
      &:hover { background: var(--background) }
      &--icon {
        @include flexBox(center);
        border-radius: var(--br-radius);
        padding: var(--gap);
        background-color: var(--Success-500);
      }
      &--text {
        @extend %body1;
        font-weight: normal;
      }
      &.withdraw {
        background: unset; 
        cursor: help; 
        &:hover{background: unset;}
        .option--icon {display: none;}
        .option--text {
          @extend %body2;
          color: var(--gray);
        }
      }
    }
  }
}