@import "_mixin.scss";

/***************************************************
  login view 
****************************************************/

.login {
  grid-column: span 3;
  &--header {
		&::before {
			content: '';
			display: block;
			min-height: 250px;
			overflow: hidden;
			background: var(--Semi-Darker) url('../img/chat_title-text.png') center;		
		}
		.form--title { padding:40px var(--padding)}
	}
  &--form {
    @include flexBox(center);
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 var(--padding) var(--padding);
  }

  .btn {
		&--login {background: var(--primary-500); color: var(--white);}
		&--register {background:var(--gray-50)}
	}
}


/***************************************************
  register view 
****************************************************/
.register {
  grid-column: span 3;
	&--header {
    @include flexBox();
    padding: 40px var(--padding);
    position: relative;
	}
  &--form {
    padding: 0 var(--padding) var(--padding);
    form {
      @include flexBox();
      flex-direction: column;
      gap: var(--padding);
      position: relative;
      width: 100%;
    }
    input.btn--small {
      width: auto;
      position: absolute;
      top: 8px;right: 8px;
    }
    #register_cert_num {
      opacity: 0;
      margin-top: -64px;
      margin-bottom: var(--padding);
      transition: .5s;
      z-index: -1;
      &.active {
        opacity: 1;
        margin-top: var(--padding);
        z-index: unset;
      }
    }
    .pw_checker {
      width: 100%;
      list-style: none;
      padding-left: var(--inputPadding);
      .checker{
        &::before{
          content: "";
          display: inline-block;
          width: var(--inputPadding); height: var(--inputPadding);
          margin-right: 8px;
          vertical-align: middle;
          background: url('../icon/Check.svg') center / cover;
        }
        &_none { 
          color:var(--gray-80);
          &::before{filter:invert(90%) sepia(0%) saturate(393%) hue-rotate(137deg) brightness(100%) contrast(70%)}
        }
        &_fail{ 
          color:var(--Danger-700);
          &::before {
            background-image: url('../icon/Clear.svg');
            filter: invert(21%) sepia(82%) saturate(2997%) hue-rotate(342deg) brightness(76%) contrast(86%);
          }
        }
        &_pass{ 
          color:var(--Success-700);
          &::before { filter:invert(67%) sepia(36%) saturate(5883%) hue-rotate(44deg) brightness(96%) contrast(94%)}
        }
      }
    }
  }
  .btn {
    &--register {background: var(--primary-500); color: var(--white);}
  }

}


/***************************************************
  chat view 
****************************************************/
.chat {
  display: grid;
  height: 100vh;
  grid-template-rows: var(--gnbSize) 1fr var(--gnbSize);
  background: var(--background);
  &--user_info {
    @include flexBox();
    gap: var(--gap);
    width: 100%;
    height: var(--gnbSize);
    padding: var(--gap) var(--padding);
    &__name {@extend %body1; font-weight: bold;}
    &__recent {@extend %body2; color: var(--gray);}
  }
  &--body {
    @include flexBox();
    flex-direction: column;
    width: 100%;
    gap: var(--inputPadding);
    padding: var(--padding);
    background-color: var(--white) !important;
    border-radius: calc(var(--br-radius) * 2) calc(var(--br-radius) * 2) 0 0;
    overflow: hidden auto;
    @extend %boxShadow;
    > * {width: 100%;}
    .message_box {
      @include flexBox($align: end);
      gap : var(--gap);
      width: 100%;
      position: relative;
      &__text {
        max-width: 70%;
        background-color: var(--gray-50);
        padding: var(--padding);
        border-radius: var(--br-radius);
      }
      &__date {
        @include flexBox(center);
        gap: var(--gap);
        color: var(--gray-50);
        font-size: var(--text);
        &::before, &::after {
          content: "";
          display: inline-block;
          width: 15%;
          height: 1px;
          background: var(--gray-50);
        }
      }
      &__time {
        @extend %caption;
        color: var(--gray-80);
      }
      &.given {
        padding-left: var(--padding);
        @include messageDirection();
      }
      &.send {
        padding-right: var(--padding);
        flex-direction: row-reverse;
        @include messageDirection(right, var(--Semi-Darker));
        .message_box__text {
          background-color: var(--Semi-Darker);
          color: var(--white);
        }
      }
    }
  }
  &--footer {
    @include flexBox();
    padding: 10px var(--inputPadding);
    gap: calc(var(--gap) / 2);
    &__box {
      @include flexBox();
      gap: calc(var(--gap) / 2);
      width: 100%;
      height: 100%;
      max-height: calc(var(--gnbSize) * 2);
      background-color: var(--background);
      position: relative;
      bottom: 0;
      .btn {
        padding: calc(var(--gap) / 2);
        filter: invert(62%) sepia(0%) saturate(1878%) hue-rotate(157deg) brightness(90%) contrast(93%);
        cursor: pointer;
        &:hover {filter: unset;}
      }
    }
    &__text {
      width: 100%;
      height: 100%;
      @extend %body1;
      border: 0;
      resize: none;
      padding: 14px;
      border-radius: var(--br-radius);
      &:focus{
        outline:none;
        @extend %boxShadow;
      }
    }
    &__send {
      position: relative;
      background: var(--primary-500) url('../icon/Send.svg') center no-repeat;
      outline: 0;
      padding: calc(var(--gap) / 2) var(--gap);
      width: 5%;
      height: 100%;
    }
  }
}