<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="signup-wrapper">
        <h1>SIGN UP</h1>
        <form action="" method="post" id='signup-form'>
            {% csrf_token %}
            <input type="text" name="userID" placeholder='ID' id='userID' class='input-none-box' onkeyup='idCheck();' onblur='idOverlapCheck();' maxlength='30'><br>
            <span id='verifyID' class='input-none-text'>영문으로 시작하는 영문, 숫자 조합 6~20자리</span>
            <input type="password" name="userPW" placeholder='PASSWORD' id='userPW' class='input-none-box' onkeyup='pwCheck();pwIsSame();' maxlength='25'><br>
            <span id='verifyPW' class='input-none-text'>영문, 숫자, 특수 문자가 포함 8~16자리</span>
            <input type="password" name="confirmPW" placeholder='CONFIRM PASSWORD' id='confirmPW' class='input-none-box' onkeyup='pwIsSame();' maxlength='25'><br>
            <span id='isSame' class='input-none-text'> </span>
            <input type="text" name="userName" placeholder='NAME' id='userName' class='input-none-box' onkeyup='nameCheck();' maxlength='25'><br>
            <span id='verifyName' class='input-none-text'>이름을 입력해주세요.</span>
            <input type="email" name="userEmail" placeholder='EMAIL' id='userEmail' class='input-none-box' onkeyup='emailCheck();' maxlength='30'><br>
            <span id='verifyEmail' class='input-none-text'>이메일 주소를 입력해주세요.</span>
            <input type="submit" value="Sign Up" id='btn_submit' onclick='verifyInput();'>
        </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>