{% load static %}
<div class="gnb">
    <div id="able_login">
        <div id="notices_icon" class="icon_box">
            <button class="gnb_btn notices_btn active">
                <img src="{% static 'com/icon/-notifations-none_90255.svg'%}" alt="" class="gnb_img notices_img">
            </button>
        </div>
        <div id="friends_icon" class="icon_box">
            <button class="gnb_btn frineds_btn">
                <img src="{% static 'com/icon/account_multiple_outline_icon_140049.svg'%}" alt="" class="gnb_img friends_img">
            </button>
        </div>
        <div id="chat_icon" class="icon_box">
            <button class="gnb_btn chat_btn">
                <img src="{% static 'com/icon/message_text_outline_icon_139369.svg'%}" alt="" class="gnb_img chat_img">
            </button>
        </div>
        <div id="user_icon" class="icon_box">
            <button class="gnb_btn user_btn">
                <img src="{% static 'com/img/profile_basic1.png'%}" alt="" id="profile_img_side_bar" class="gnb_img user_img">
            </button>
        </div>
    </div>
    <div id="setting_icon" class="icon_box">
        <button class="gnb_btn setting_btn">
            <img src="{% static 'com/icon/cog_outline_icon_139752.svg'%}" alt="" class="gnb_img setting_img">
        </button>
    </div>
</div>