{% load static %}
<link rel="stylesheet" href="{% static 'com/css/GNB.css' %}">

<div class="GNB">
    <div id="able_login">
        <div id="notices_icon" class="icon_box">
            <button class="GNB_btn notices_btn">
                <img src="{% static 'com/icon/-notifations-none_90255.svg'%}" alt="" class="GNB_img notices_img">
            </button>
        </div>
        <div id="friends_icon" class="icon_box">
            <button class="GNB_btn frineds_btn">
                <img src="{% static 'com/icon/account_multiple_outline_icon_140049.svg'%}" alt="" class="GNB_img friends_img">
            </button>
        </div>
        <div id="chat_icon" class="icon_box">
            <button class="GNB_btn chat_btn">
                <img src="{% static 'com/icon/message_text_outline_icon_139369.svg'%}" alt="" class="GNB_img chat_img">
            </button>
        </div>
        <div id="user_icon" class="icon_box">
            <button class="GNB_btn user_btn">
                <img src="{% static 'com/img/profile_basic.png'%}" alt="" class="GNB_img user_img">
            </button>
        </div>
    </div>
    <div id="setting_icon" class="icon_box">
        <button class="GNB_btn setting_btn">
            <img src="{% static 'com/icon/cog_outline_icon_139752.svg'%}" alt="" class="GNB_img setting_img">
        </button>
    </div>
</div>