<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'com/css/com.css' %}">
    <title>LOGIN</title>
</head>
<body>
    <div class="page_view">
        {% include 'com/GNB.html' %}
        <div class="main_view centerBox">
            <div class="login_box">
                <div class="header_box"></div>
                <div class="login_form">
                    <h2 class="form_tittle">로그인</h2>
                    <form method="post" id="send_login_user_info">
                        {% csrf_token %}
                        <input type="text" name='email' placeholder="Email">
                        <input type="password" name='password' placeholder="Password">
                        <div class="button_box ">
                            <input type="submit" value="로그인" name="login" class="login_btn">
                            <input type="button" value="회원가입" name="register" class="goto_register_btn" onclick="location.href='{% url 'register_page:register' %}'">
                        </div>
                    </form>
                </div>
                <div class="footer_box">
                    <a href="#">ID/PW 찾기 </a>
                    <a href="#">관리자 문의 </a>
                </div>

            </div>

        </div>
    </div>
    
    <script src="{% static 'login_page/js/login.js' %}"></script>
</body>
</html>