QWidget#sidebar { 
    background-color: blue;
}

#notification_button, #friend_list_button, #chat_window_button, #profile_setting_button, #setup_button { 
    border: none;
}

#notification_group:hover, 
#friend_list_group:hover,
#chat_window_group:hover,
#profile_setting_group:hover,
#setup_group:hover {
    background-color: rgb(79, 42, 184); /* 지정한 보라색으로 변경합니다. */
}