<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div class='access-wrapper'>
        <h1>LOGIN SUCCESS</h1>
        <h2>{{ user.username }}님 환영합니다.</h2>
        <input type="button" value="Logout" id="btn-logout" onclick="location.href='{% url 'user:logout' %}'">
    </div>
      
    {% else %}
        {% comment %} {% if method == POST %}
        <script>
            alert("ID 또는 비밀 번호가 맞지 않습니다.");
        </script>
        {% endif %} {% endcomment %}
    <div class='login-wrapper'>
        <h1>LOGIN</h1>
        <form action="" method="post" id="login-form">
            {% csrf_token %}
            <input type="text" name="userID" placeholder="ID">
            <input type="password" name="userPW" placeholder="PASSWORD">            
            <input type="submit" value="Login">
            <input type="button" value="Sign Up" onclick="location.href='{% url 'user:signup' %}'">
        </form>
    </div>

    {% endif %}
    
</body>
</html>