{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'com/css/com.css' %}">
    <title>CHATTING</title>
</head>
<body>
    <div class="page_view">
        <div class="GNB">
            <div class="user_img_box">
                <img src="{% static 'com/icon/user-regular.svg'%}" alt="" class="user_img">
            </div>
            <div class="setting_img_box">
                <img src="{% static 'com/icon/free-icon-font-settings-3917035.svg'%}" alt="" class="setting_img">
            </div>
        </div>
        <div class='side_bar'>
            side_bar
        </div>
    </div>
</body>
</html>