{% load static %}
  {% include 'com/Head.html' %}
  <link rel="stylesheet" href="{% static 'css/side_bar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/chatting_main.css' %}">
  <title>CHATTING</title>
</head>

<body class="page_view">

  {% include 'com/GNB.html' %}

  <div id="main_chat" class="main_view">
    {% include "chatting_main_page/empty.html" %}
    <div id="chatting_room_detail">
      {% include "chatting_main_page/chatting.html" %}
    </div>
  </div>
  <script src="{% static 'js/chatting_main.js' %}"></script>
</body>

</html>