{% load static %}
<div class="notice">
    <div class="notice--type {{ noti_type }}">
        <img src="{% static 'icon/Notification.svg' %}" alt="">
    </div>
    <div class="notice--content">
        <div class="notices_title">{{ sender_id }}님의 알림입니다.</div>
        <div class="notices_contents">{{ content }}</div>
        <div class="notices_time">{{ created_at }}</div>
    </div>
    <button class="delete_notice_btn"></button>
</div>

{% comment %} <div class="notice--type system_notice danger/system/group/normal"> /  {% endcomment %}