{% load static %}
<div class="notice--group">
    <div class="notice--type {{ noti_type }}">
        <img src="{% static 'icon/Notification.svg' %}" alt="">
    </div>
    <div class="notice--box">
        <div class="notice--box__title">{{ sender_id }}님의 알림입니다.</div>
        <div class="notice--box__content">{{ content }}</div>
        <div class="notice--box__time">{{ created_at }}</div>
    </div>
    <button class="notice--delete_btn"></button>
</div>

{% comment %} <div class="notice--type system_notice danger/system/group/normal"> /  {% endcomment %}