<div class="side_bar_header">
    <span class="side_bar_header_name">친구목록</span>
</div>
<div class="side_bar_body have_footer">
    <ul id="online_friends" class="side_bar_list">
        <li class="friends_status_title">
            <span class="friends_status_name">온라인</span>
        </li>
    </ul>
    <ul id="offline_friends" class="side_bar_list">
        <li class="friends_status_title">
            <span class="friends_status_name">오프라인</span>
        </li>
    </ul>
</div>
<div class="side_bar_footer">
    <button class="footer_btn plus_btn"></button>
    <button class="footer_btn delete_btn"></button>
    <button class="footer_btn setting_btn"></button>
</div>