<div class="side_bar_header">
    <span class="side_bar_header_name">채팅</span>
</div>
<div class="side_bar_body">
    <ul class="chatting_room side_bar_list">
        <li class="chatting_room_list">1</li>
        <li class="chatting_room_list">2</li>
        <li class="chatting_room_list">3</li>
        <li class="chatting_room_list">4</li>
        <li class="chatting_room_list">5</li>
        <li class="chatting_room_list">6</li>
        <li class="chatting_room_list">7</li>
    </ul>
</div>
<div class="side_bar_footer">
    chat_list_footer
</div>