{% load static %}
<div class="side_bar_header">
    <span class="side_bar_header_name">내정보</span>
</div>
<div class="side_bar_body">
    <div id="user_profile_detail">
    </div>
    <div id="user_profile_edit">
        <div id="user_profile_img_edit"></div>
        <div id="user_nickname_edit">
            <div id="user_profile_img_edit"></div>
            <input type="text" name="nickname" id="">
            <input type="button" value="변경">
        </div>
        <div>
            <input type="text" name="message_text" id="">
        </div>
    </div>
    <div class="user_info_setting">
        <div class="user_info_setting_box" id="change_email_notice_box">
            <img src="{% static 'com/icon/-mail-outline_89945.svg'%}" alt="" class="user_info_setting_img" id="change_email_notice_img">
        </div>
        <div class="user_info_setting_text">
            <span>이메일 알림 수신 변경</span>
        </div>
    </div>
    <div class="user_info_setting">
        <div class="user_info_setting_box" id="change_password_box">
            <img src="{% static 'com/icon/-lock-outline_90452.svg'%}" alt="" class="user_info_setting_img" id="change_password_img">
        </div>
        <div class="user_info_setting_text">
            <span>비밀번호 변경</span>
        </div>    
    </div>
    <div class="user_info_setting" id="user_logout">
        <div class="user_info_setting_box" id="logout_box">
            <img src="{% static 'com/icon/-power-settings-new_89889.svg'%}" alt="" class="user_info_setting_img" id="logout_img">
        </div>
        <div class="user_info_setting_text">
            <span>로그아웃</span>
        </div>
    </div>
    <div class="user_info_setting">
        <div class="user_info_setting_box" id="cancel_membership_box">
        </div>
        <div class="user_info_setting_text">
            <span>회원탈퇴</span>
        </div>
        
    </div>
</div>