<div class="side_bar--header">
  <span class="side_bar--header__title">친구목록</span>
  <select name="" id=""></select>
</div>

<div class="side_bar--body friends">
  <ul id="online_friends" class="friends--group on">
    <li class="friends--group__title"> 온라인 </li>
  </ul>

  <ul id="offline_friends" class="friends--group off">
    <li class="friends--group__title"> 오프라인 </li>
  </ul>

</div>

<div class="side_bar_footer">
  <button class="footer_btn plus_btn"></button>
  <button class="footer_btn delete_btn"></button>
  <button class="footer_btn setting_btn"></button>
</div>